.chat-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(80vh - 48px);
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  padding: 16px 20px;
  box-sizing: border-box;
}
